<?xml version="1.0" encoding="utf-8"?>
<!-- 
    This configuration assumes use of the Sitecore Error Manager module: http://marketplace.sitecore.net/en/Modules/Sitecore_Error_Manager.aspx
    This module fixes (among other things) the incorrect use of a 302 redirect when issuing a 404 or 500.
    If not using the module, use the second configuration instead.
-->
<customErrors mode="RemoteOnly" defaultRedirect="/sitecore modules/Web/Error Manager/500.aspx" redirectMode="ResponseRewrite">
    <error statusCode="500" redirect="/sitecore modules/Web/Error Manager/500.aspx"/>
    <error statusCode="404" redirect="/sitecore modules/Web/Error Manager/404.aspx"/>
</customErrors>

<!--
<customErrors mode="RemoteOnly" defaultRedirect="/Error">
    <error statusCode="500" redirect="/Error"/>
    <error statusCode="404" redirect="/404"/>
</customErrors>
-->