<?xml version="1.0" encoding="utf-8"?>
<!--
    By pulling <customErrors/> out of Web.config, we can disable it in Debug and
    enable it in Release using TDS file replacements.
-->
<customErrors mode="Off" />

<!--
<customErrors mode="On" defaultRedirect="/Error">
    <error statusCode="500" redirect="/Error"/>
    <error statusCode="404" redirect="/404"/>
</customErrors>
-->