<!-- 
    This configuration assumes use of the Sitecore Error Manager module: http://marketplace.sitecore.net/en/Modules/Sitecore_Error_Manager.aspx
    This module fixes (among other things) the incorrect use of a 302 redirect when issuing a 404 or 500.
    If not using the module, remove this file.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <setting name="ItemNotFoundUrl.Item" set:value="/404" />
            <setting name="LayoutNotFoundUrl.Item" set:value="/Error" />
            <setting name="NoAccessUrl.Item" set:value="/404" />
        </settings>
    </sitecore>
</configuration>