<!--
    Many locations where Active Commerce outputs rich text assume that the RTE
    is wrapping content in a <p> or other block tag. Sometimes it fails to do so.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <pipelines>
          <saveRichTextContent>
              <processor type="MyActiveCommerce.Pipelines.SaveRichTextContent.AddParagraphTagIfMissing, MyActiveCommerce.Classes"/>
          </saveRichTextContent>
      </pipelines>
  </sitecore>
</configuration>
