<!--
    Forces Sitecore to check for items to re-index more frequently. This setting really
    only applies to staged environments, but is a real necessity there to ensure that
    product data is updated quickly.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="Indexing.UpdateInterval">
                <patch:attribute name="value">00:01:00</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>