<!--
    Site definition for an Active Commerce site. Note that you need to create this site and
    set rootPath accordingly. You may also want to change the site name.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
        <site name="myactivecommerce" patch:before="site[@name='website']"
            hostName="myactivecommerce"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/MyActiveCommerce"
            startItem="/home"
            database="web"
			content="master"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            EcommerceSiteSettings="/Site Settings"
        />
    </sites>
    <events>
        <event name="publish:end">
            <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                <sites hint="list">
                    <site id="1">myactivecommerce</site>
                </sites>
            </handler>
        </event>
        <event name="publish:end:remote">
            <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
                <sites hint="list">
                    <site id="1">myactivecommerce</site>
                </sites>
            </handler>
        </event>
    </events>
  </sitecore>
</configuration>